:root {
    --color-primary: #194a7a;
    --color-secondary: #476f95;
    --color-tertiary: #7593af;
    --color-white: #fff;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html * {
    font-family: "Roboto", sans-serif;
}

input:focus {
    outline: none;
}

/* Start Container */
.container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/* End Container */

body {
    background-color: var(--color-white);
    color: var(--color-white);
}

.logo {
    font-size: 27px;
    text-decoration: none;
    color: var(--color-white);
}

/* div.h-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    opacity: 1;
    color: #fff;
} */

header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    width: 100%;
    color: var(--color-white);
    overflow: hidden;
    padding: 15px;
    position: fixed;
    z-index: 9;
}

header::before {
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%),
        #d3d3d300 1.294px -0.623px / 100% 129.848% no-repeat;
    vertical-align: middle;
}

.nav-list .nav-item {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    font-size: 18px;
}

.search {
    display: flex;
    justify-content: right;
    align-items: center;
}

@media (max-width: 768px) {
    .search {
        justify-content: left;
    }
}

.search select {
    border-radius: 5px;
    border: none;
    padding: 5px;
    flex: 1;
    max-width: 300px;
    margin-right: 5px;
}

.search button {
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 5px 10px;
}

.my-account {
    display: flex;
    margin-left: 40px;
    color: var(--color-white);
}

/* Slideshow Ads Start */
.slideshow-container {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.slideshow-container img {
    width: 100%;
}

.slides::before {
    background: linear-gradient(93deg, #000 0%, rgba(0, 0, 0, 0) 100%),
        #d3d3d300 1.294px -0.623px / 100% 129.848% no-repeat;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}

.slide-content {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
}

.slide-content h2 {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.slide-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.slide-button {
    margin-top: 24px;
}

.btn-book {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    margin-right: 5px;
}

.btn-watch {
    background: transparent;
    color: var(--color-white);
    padding: 9px 19px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* Slideshow Ads End */

/* Main Search */
.main-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.main-search-wrapper {
    margin-right: 10px;
    padding: 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -100px;
    background-color: #fff;
    z-index: 999;
}

.main-search-wrapper input {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.main-search-wrapper button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    margin-right: 5px;
}

/* End Main Search */

main {
    padding: 15px;
}

/* Movie list start */
.movie-card {
    background-color: var(--color-secondary);
    border-radius: 7px;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
    max-height: 250px;
    object-fit: cover;
}

.movie-card h2 {
    color: var(--color-white);
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.movie-card h2 a {
    text-decoration: none;
    color: var(--color-white);
}

/* Movie list end */

footer {
    margin-top: 10px;
    background-color: var(--color-secondary);
    color: #fff;
    padding: 20px 0;
}

footer p {
    text-align: center;
    font-size: 14px;
    margin: 0;
}